#title{
  font-size: 40px;
  padding: 50px;
  padding-bottom: 30px;
}

.detail{
  float: left;
  font-size: 20px;
  padding: 10px 50px;
  padding-right: 100px;
}

#jdescription{
  word-break: break-all;
  clear: left;
  font-size: 20px;
  padding: 10px 50px
}


