body{
  margin: 0;
}

.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  height: 70px;
}

.link{
  float:left;
  padding: 30px 40px;
  text-decoration: none;
  color: white;
  height: 70px;
  font-size: 20px;
  background-color: #333;
  border: none;
  outline: none;
}

.link:hover{
  background-color: #111;
}

#login, #logout{
  float:right;
}
