.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.link{
  display: block;
  float:left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

a:hover{
  background-color: #111;
}

#login, #logout{
  float:right;
}
