form {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

textarea {
  width: 1060px;
  height: 150px;
  box-sizing: border-box;
  resize: none;
  margin: 0 auto;
}

textarea:focus {
  border: 3px solid #555;
}

input[type=text], textarea {
  padding: 12px;
  font-size: 20px;
  outline: none;
}     

input[type=text]:focus {
 border: 3px solid #555;
}

input[name=salary] {
  width: 90px;
}

.details {
  float:left;
  padding-left: 70px;
  padding-right: 0;
}

#description {
  padding-left: 70px;
}

#description, .details {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.postButton, .cancelButton {
  float: left;
  position: relative;
  top: -13px;
  left: 190px;
  font-size: 20px;
  padding: 14px 30px;
  margin: 55px 30px;
  border: none;
  background-color: #333;
  color: white;
  outline: none;
}

.postButton:hover, .cancelButton:hover {
    background-color: grey;
    color: white;
}


